.card-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid var(--gray-white);
  padding: 5rem 5rem 3rem 5rem;
  width: 90%;
  margin: 50px auto 20px auto;
}

.card-profile .avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.card-profile .avatar img{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.card-profile .data-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.card-profile .data-user h2{
  font-size: 32px;
  font-weight: 400;
  color: var(--text-primary);
}

.card-profile .data-user .location,
.card-profile .data-user .repositories{
  font-weight: 400;
  font-size: 14px;
  color: var(--text-primary);
}

.card-profile .data-user .profile-git{
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary);
}

.author {
  margin-top: 20px;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-primary);
}

.author a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  color: var(--text-secondary);
}
