.profile-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 3px solid var(--gray-white);
  padding: 5rem 2rem 3rem 3rem;
  width: 90%;
  margin: 0 auto 20px auto;
}

.profile-stats .data {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}
.profile-stats .link-profile {
  text-decoration: none;
  color: var(--text-primary);
  font-size: 10px;
}
.profile-stats .user-name {
  margin: 5px 0;
  font-size: 32px;
  color: var(--text-primary);
  font-weight: 400;
}

.profile-stats .bio,
.profile-stats .followers,
.profile-stats .following,
.profile-stats .created {
  font-size: 14px;
  color: var(--text-primary);
}

.profile-stats .stats {
  /* margin-top: 20px; */
  display: flex;
  align-items: center;
  /* width: 60%; */
  height: 100%;
}

.profile-stats .stats img {
  width: 270px;
  height: 150px;
}

@media(min-width: 600px) {
  .profile-stats .stats img {
    width: 400px;
    height: 200px;
  }
}

@media(min-width: 1280px) {
  .profile-stats {
    width: 100%;
  }
}
